.dashboardLayoutContent li{
    /* background-color: #e5e7ebd0; */
    border-radius: 10px;
    /* border: 1px solid #dddee0; */
    margin: 0 auto 5px;
    /* margin-bottom: 10px; */
    width: 160px;
    padding: 3px 5px;
    padding: 0;
}